<template>
    <div :class="$style.blackbox">
        <p>{{name}}</p>
        <p>{{entityId}}</p><hr />
        <p>{{address}}</p>
        <ul>
            <li v-for = "(good,index) in goods" :key = "index">{{good}}</li>
        </ul>
        <p>{{`longitude: ${location} latitude: ${location}`}}</p>
        <p>{{cash_only ? `Cash Only` : `Card Payment`}}</p>
        <div>
            <button @click="this.$emit('edit-stand', this.entityId)">Edit</button>
            <button @click="this.$emit('delete-stand', entityId)">Delete</button>
        </div>
    </div>
</template>
 
<script>
    export default {
        props: ["name","address","goods","location","cash_only","entityId"],
    }
</script>

<style module>
    .blackbox{
        border: 1px solid black;
        margin-bottom: 2px;
        padding: 0px 20px;
    }

    .right {
        margin-left: 80%;
        margin-right: 0;
    }
</style>