<template>
        <form @submit.prevent="handleSubmit">
            <input v-model="form.name" type="text" name="name" placeholder="Stand Name">
            <p>Message is: {{ form.name }}</p>
            <input v-model="form.address" type="text" name="address" placeholder="Stand Address"  />
            <input v-model="form.longitude" type="number" name="longitude" placeholder="Longitude"/>
            <input v-model="form.latitude" type="number" name="latitude" placeholder="Latitude"/>
            Cash Only?<input v-model="form.cash_only" type ="checkbox" name="cash_only"/>
            <button type="submit">Submit</button>
        </form>

        <button @click="goBack">Home</button>
</template>

<script setup>

    let refreshing = ref(false)
    const route = useRoute()
    const entityId = route.params.entityId
    const {data: stand, pending,refresh} = await useAsyncData('stand', ()=>$fetch('http://localhost:8080/stand/' + entityId), {watch: [refreshing]})
    
</script>

<script>
    const goBack= () =>{
        navigateTo({
            path: '/',
        })
    }
    export default{
        data(){
            return {
                form: {
                    name: this.stand.name,
                    address: this.stand.address,
                    longitude: this.stand.location.longitude,
                    latitude: this.stand.location.latitude,
                    cash_only: this.stand.cash_only
                },
            }
        },
}
</script>