<template>
    <div>
        <StandView v-for = "stand in stands" 
            v-bind="stand"
            :key = "stand.entityId"
            @delete-stand="deleteStand"
            @edit-stand="editStand"
        />
        <button @click="refreshAll">Ref</button>
    </div>
</template>

<script setup>
    let refreshing = ref(false)
    const {data: stands, pending,refresh} = await useAsyncData('stands', ()=>$fetch('http://localhost:8080/stands/all'), {watch: [refreshing]})
    const refreshAll = async () => {
            refreshing = true
            try {
                await refreshNuxtData()
            } finally {
                refreshing = false
            }
    }
    const editStand = async (entityId) =>{
        navigateTo({
            path: '/edit/' + entityId,
        })
    }
    const deleteStand = async (entityId) => {
        try{
            await useFetch('http://localhost:8080/stand/' + entityId, {method: "DELETE"})
        } finally {
            refreshAll()
        }
    }
</script>