<template>
    <div>
        <form @submit.prevent="handleSubmit">
            <input v-model="form.name" type="text" name="name" placeholder="Stand Name"/>
            <p>Message is: {{ form.name }}</p>
            <input v-model="form.address" type="text" name="address" placeholder="Stand Address"  />
            <input v-model="form.longitude" type="number" name="longitude" placeholder="Longitude"/>
            <input v-model="form.latitude" type="number" name="latitude" placeholder="Latitude"/>
            Cash Only?<input v-model="form.cash_only" type ="checkbox" name="cash_only"/>
            <button type="submit">Submit</button>
        </form>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                form: {
                    name: "",
                    address: "",
                    longitude: null,
                    latitude: null,
                    cash_only: false
                },
            }
        },
        methods: {
            handleSubmit(){
                const newObj = this.form

            },
        }
    }
    
</script>